<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="car_profile" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Razoyo Car Profile</label>
            <tab>general</tab>
            <resource>Razoyo_CarProfile::settings</resource>

            <group id="api" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>API Settings</label>
                <resource>Razoyo_CarProfile::api_settings</resource>
                <field id="url" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>API URL</label>
                    <validate>validate-url</validate>
                    <comment>API URL address like "https://example.razoyo.com/api".</comment>
                </field>
            </group>

            <group id="cache" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Cache Settings</label>
                <resource>Razoyo_CarProfile::cache_settings</resource>
                <field id="lifetime" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Cache Lifetime (seconds)</label>
                    <validate>validate-digits</validate>
                    <comment>Default is 3600 seconds.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
