<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <car_profile>
            <api>
                <url>https://exam.razoyo.com/api</url>
            </api>
            <cache>
                <lifetime>3600</lifetime>
            </cache>
        </car_profile>
    </default>
</config>
